name: Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: yarn install
      - run: yarn lint
      - run: yarn test --passWithNoTests